* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: 'Smythe'
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--font-family);
}

.app {
    border: 1px solid black;
    height: 90vh;
    width: 600px;
}