#item-wrapper {
    margin-inline: 50px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-block: 20px;
    align-items: center;

    .item-group {
        display: flex;
        align-items: center;       
    }

    #item-image {
        font-size: 79px;
    }

    .item-info {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .name {
            font-size: 28px;
        }

        .ingredients {
            color: #8B8B8B;
        }

        .price {
            font-size: 20px;
            font-weight: bold;
        }

    }
    
    #add-btn {
        border: 1.5px solid #DEDEDE;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        font-size: 32px;
        font-family: 'Inter';
        font-weight: 300;
        line-height: 24px;
        cursor: pointer;
    }
    
}

.divider {
    height: 1px;
    margin-bottom: 20px;
    background-color: #D2D2D2;
}

#pre-checkout {
    display: flex;
    flex-direction: column;
    margin-inline: 50px;

    #order-title {
        text-align: center;
        font-size: 28px;
    }

    .cart-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;

        .sec1 {
            display: flex;
            align-items: center;
            gap: 13px;

                .remove-btn {
                    color: #BBBBBB;
                }
        }
    }

    .total-price {
        display: flex;
        justify-content: space-between;
    }

    #complete-order-btn:hover, #complete-order-btn:active {
        background-color: #12eea5;
    }

    #complete-order-btn:active {
        transform: scale(0.98);
    }
}


.green-btn {
    margin-top: 20px;
    background-color: #16DB99;
    height: 60px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.250s ease;
    font-size: 20px;
}

.pay-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;

    padding: 40px 20px 20px;
    width: 342px;
    height: 342px;
    display: none;


    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
            height: 41px;
            padding-inline: 10px;
        }
    }

    #pay-btn {
        width: 100%;
    }
}